/*
 *  bebasneue ff start
 */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.otf')format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Regular.otf')format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Thin.otf')format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Light.otf')format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Bold.otf')format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.otf')format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Regular.otf')format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue Thin.otf')format("opentype");
    font-weight: 200;
    font-style: normal;
}
/*
 *  bebasneue ff end
 */
/*
 *  DINPro ff start
 */
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Black_0.otf')format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Bold_0.otf')format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Light_0.otf')format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Medium_0.otf')format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Regular_0.otf')format("opentype");
    font-weight: 600;
    font-style: normal;
}
/*
 *  DINPro ff end
 */
html{
    background: url(../img/header_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
body{
    font-family:"DINPro";
    font-weight:bold;
    background: transparent;
}
nav{
    text-align: right;
}
nav ul{
    position:fixed;
    z-index:1000;
    width:100%;
    color:#fff;
    list-style:none;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}
nav ul.active{
    background:#fff;
    color:#3a9dff;
}
nav ul li{
    display:inline-block;
    padding:20px 30px;
}
section{
    padding:100px 50px 50px;
    line-height:140%;
}
p{
    margin-bottom:20px;
}

#section_1, #section_2{
    color:white;
}
#section_1{


}

#section_2{
    padding-top:100px;
    background:transparent;
}
#section_2 .container{
    padding-top:200px;
}
.transition_section_1{
    background: transparent;
    -webkit-transition: background 2000ms linear ;
    -ms-transition: background 2000ms  linear;
    transition: background 2000ms  linear;
}
.transition_section_2{
    background: #132a50;
    -webkit-transition: background 2000ms linear ;
    -ms-transition: background 2000ms  linear;
     transition: background 2000ms  linear;
}
.the_big_monstrous{
    padding-top:200px;
}
#tbm_heading{

    font-size: 128px;
    font-family: DINPro;
    line-height: 125px;
    color: #009ff6;
    font-weight: 900;
}
#s1_p{
    margin: auto;
    width:65%;

    padding:25px;
}
.mini_logo_heading, .content_body{
    text-align: center;
}
.learn_more{
    float: none;
    margin: auto;
    height:50px;
    width:150px;
    border:1px solid #33b7ff;
    padding:15px;
}
#big_dancing_logo{
    position: absolute;
    top: 229px;
    left: -338px;
}
.subpanel_1{
    position: absolute;
    width:200vw;
    height:200vw;
    background: rgba(50,159,246,0.1);
    left:-1200px;
    transform:rotate(25deg);

}
.section3 p{

    padding-top:20px;
    font-weight:300;
    font-size:18px;
    line-height:31px;
}
.inview{
    transform:rotate(0deg);
    background: rgb(235, 238, 242);
    margin-top: -50px;
    transition:transform 500ms cubic-bezier(.17,.67,.83,.67), background 500ms cubic-bezier(.17,.67,.83,.67);

}
#BVRLogo {
    display: block;
    width:256px;
    height:256px;
    margin: 0 auto 32px auto;
}
.subpanel_1-content_blueline{
    height:15px;
    width:35px;
    margin:15px;
    border-top:3px solid #33b7ff;

}
.section3 .container{
    padding-top:60px;
}